<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.orderStatus}} Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <!-- List Header Full Lines -->
  <ion-list-header lines="full">
    <ion-label>Nr. {{this.orderId}}</ion-label>
  </ion-list-header>

  <ion-list *ngFor="let item of this.order.items; let first=first">
    <ion-item >
      <ion-text slot="start">{{item.amountInCart}}</ion-text>
      <ion-label class="ion-text-wrap">{{item.name}} <ion-text color="medium">({{item.amount}}l)</ion-text></ion-label>
      <span>€{{item.price}}</span>
    </ion-item>
  </ion-list>
  <ion-item lines="full">
    <ion-text slot="start"><b>{{this.order.totalAmountOfOrder()}}</b></ion-text>
    <ion-label><b>Total</b></ion-label>
    <b>€{{this.order.totalPrice() | number : '1.2-2'}}</b>
  </ion-item>

  <ion-fab *ngIf="!this.order.done" slot="fixed" horizontal="center" vertical="bottom">
    <ion-fab-button style="margin-left: -90px" (click)="changeOrderStatus()"><ion-icon name="checkmark-outline"></ion-icon></ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="this.order.done" slot="fixed" horizontal="center" vertical="bottom">
    <ion-fab-button style="margin-left: -90px" (click)="changeOrderStatus()"><ion-icon name="refresh-outline"></ion-icon></ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" horizontal="center" vertical="bottom">
    <ion-fab-button style="--background: red; margin-left: 50px" (click)="closeOrder()"><ion-icon name="arrow-back-outline"></ion-icon></ion-fab-button>
  </ion-fab>

</ion-content>
