<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QRder Waiter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="waiterhome">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container-order-list">
    <ion-list *ngFor="let order of orders">
      <ion-item (click)="onOrderClick(order)">
        <ion-label>Bestellung {{order.id}}</ion-label>
      </ion-item>

    </ion-list>
  </div>

  <div id="container-qr-button">
    <ion-button (click)="onScanClick()">Scannen</ion-button>
  </div>
</ion-content>