<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QRder Waiter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container-order-list">
    <ion-list>
      <ion-item>
        <ion-label>Bestellung 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bestellung 2</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bestellung 3</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bestellung 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bestellung 5</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div id="container-qr-button">
    <ion-button>Scannen</ion-button>
  </div>
</ion-content>
